PORT=8080
LOG_LEVEL=info
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
SESSION_SECRET=change-me

# Postgres connection
PGUSER=loracow
PGPASSWORD=loracow
PGDATABASE=moopoint
PGHOST=127.0.0.1
PGPORT=5432

# InfluxDB
INFLUXDB_URL=http://localhost:8086
INFLUXDB_ORG=loracow_org
INFLUXDB_BUCKET=moopoint
INFLUXDB_TOKEN=Token

# MQTT
MQTT_URL=mqtt://127.0.0.1:1883
MQTT_USERNAME=loracow
MQTT_PASSWORD=loracow
MQTT_GATEWAY_BOOT_TOPIC=moopoint/cmd/geofence/request
MQTT_GEOFENCE_UPDATE_TOPIC=moopoint/cmd/geofence/update
MQTT_TRACKER_SUBSCRIBER_ENABLED=true
MQTT_FENCE_SUBSCRIBER_ENABLED=true

# App settings
INFLUX_MEASUREMENT=position
INFLUX_DEVICE_TYPE=tracker
INFLUX_DEVICE_TYPE_TAG=device_type
INFLUX_DEVICE_ID_TAG=node_id
GEOFENCE_CHECK_INTERVAL_MS=30000
